<!--CMPS3141-HCI - AS3-23S1
Collaborators:
Date: Sept.22.23
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Expenses</title>
   <!-- <link rel="stylesheet" href="style.css"> -->
   <link rel="stylesheet" href="https://get.mavo.io/mavo.css">
   <script src="https://get.mavo.io/mavo.js"></script>
 </head>
 <body style="background-color:powderblue;" mv-app mv-storage="https://github.com/UB-CMPS3141/cmps3141-as3-css_app-23s1-CoderRyan13/expenses/data.json">
 
 <div id="app">
   <!-- Replace cmps3141-as3-css_app-23s1 below with your repo name (cmps3141-as3-css_app-23s1-yourusername) so you can save!  
   https://github.com/UB-CMPS3141/cmps3141-as3-css-app-23s1-CoderRyan13/blob/main/expenses/data.json 
   <ma-data v-model="expenses" src="https://github.com/UB-CMPS3141/cmps3141-as3-css_app-23s1-CoderRyan13/expenses/data.json"></ma-data> -->
 
   <!-- App YOUR UI here -->
   <p>If Mavo works, this should display 10: [5 + 5]
     <main>
       <h1 style="text-align: Center; color: blue;">Couple Joint Expenses Calculator</h1>
       <span hidden="[(personA!='' and personA!=null  and personB!='' and personB!=null )]" style="color:red;"><a>*Add couple's names to begin adding payments</a>
       </span>
                 
       <h2 style="color: red;">Settings</h2>
       <div>
         <label for="personA"><b>Person A's Name:</b></label>
         <input name="personA" disabled="[enableA='disabled']" type="text" property="nameA">
         <span>
           <span hidden property="enableA">disabled</span>
           <button hidden="[enableA='enabled']" mv-action="set(enableA, 'enabled')">Edit</button>
           <button hidden="[enableA='disabled']" mv-action="set(personA, join(unique(split(nameA,' ')),' '));
           set(enableA,'disabled'); set(nameA, join(unique(split(nameA,' ')),' '))">Save</button>
           <button hidden="[enableA='disabled']" mv-action="set(enableA, 'disabled');set(nameA, personA)">Cancel</button>
         </span>
       </div>
 
       <div>
         <label for="personB"><b>Person B's Name:</b></label>
         <input name="personB" disabled="[enableB='disabled']" type="text" property="nameB">
         <span>
           <span hidden property="enableB">disabled</span>
           <button hidden="[enableB='enabled']" mv-action="set(enableB, 'enabled')">Edit</button>
           <button hidden="[enableB='disabled']" mv-action="set(personB, join(unique(split(nameB,' ')),' '));
           set(enableB,'disabled'); set(nameB, join(unique(split(nameB,' ')),' '))">Save</button>
           <button hidden="[enableB='disabled']" mv-action="set(enableB, 'disabled');set(nameB, personB)">Cancel</button>
         </span>
       </div>
 
       <br>
       
       <table width="60%">
         <tbody>
           <tr>
             <td width="50%">
               <div>
                 <h2 property="personA"></h2>
                 <table border="1px" cellspacing="0" cellpadding="3">
                   <tbody>
                     <tr>
                       <td>
                         <b><i>Total Owed To [personB]</i></b>:
                       </td>
                       <td>
                         <span
                           style="color:[if(sum(personAOwes)-sum(personBOwes) <= 0,'green','red')]">$[sum(personAOwes)-sum(personBOwes)]</span>
                       </td>
                     </tr>
                     <tr>
                       <td>Total Payments To [personB]:</td>
                       <td> $[sum(if(payer=personA and payingTo=personB, amount, 0))]</td>
                     </tr>
                     <tr>
                       <td>Total Joint Payments To [personB]:</td>
                       <td>$[sum(if(payer=Joint and payingTo=personB, amount/2, 0))]</td>
                     </tr>
                     <tr>
                       <td>Total Personal Payments:</td>
                       <td>$[sum(if(payer=personA and payingTo=personA, amount, 0))]</td>
                     </tr>
                     <tr>
                       <td>Total Payments To Joint:</td>
                       <td>
                         $[sum(if(payer=personA and payingTo=Joint, amount, 0))]
                       </td>
                     </tr>
                     <tr>
                       <td>
                         Total Joint Payments:
                       </td>
                       <td>
                         $[sum(if(payer=Joint and payingTo=Joint, amount/2, 0))]
                       </td>
                     </tr>
                   </tbody>
                 </table>
   
   
               </div>
             </td>
             <td>
               <div>
                 <h2 property="personB"></h2>
                 <table border="1px" cellspacing="0" cellpadding="3">
                   <tbody>
                     <tr>
                       <td><b><i>Total Owed To [personA]</i></b>:</td>
                       <td>
                         <span
                           style="color:[if(sum(personBOwes)-sum(personAOwes) <= 0,'green','red')]">
                           $[sum(personBOwes) - sum(personAOwes)]
                         </span>
                       </td>
                     </tr>
                     <tr>
                       <td>Total Payments To [personA]:</td>
                       <td> $[sum(if(payer=personB and payingTo=personA, amount, 0))]</td>
                     </tr>
                     <tr>
                       <td>Total Joint Payments To [personA]:</td>
                       <td>$[sum(if(payer=Joint and payingTo=personA, amount/2, 0))]</td>
                     </tr>
                     <tr>
                       <td>Total Personal Payments:</td>
                       <td>$[sum(if(payer=personB and payingTo=personB, amount, 0))]</td>
                     </tr>
                     <tr>
                       <td>Total Payments To Joint:</td>
                       <td>
                         $[sum(if(payer=personB and payingTo=Joint, amount, 0))]
                       </td>
                     </tr>
                     <tr>
                       <td>
                         Total Joint Payments:
                       </td>
                       <td>
                         $[sum(if(payer=Joint and payingTo=Joint, amount/2, 0))]
                       </td>
                     </tr>
                   </tbody>
                 </table>
   
               </div>
             </td>
             <td hidden aria-hidden="true">
               <h1 property="Joint">Joint</h1>
             </td>
             <td>
               
             </td>
           </tr>
         </tbody>
       </table>
   
       <div hidden="[(personA='' or personA=null or personB='' or personB=null)]">
   
         <div>
           <h3>Add Payment</h3>
           <form mv-action="add(group(payer: payerName, payingTo:namePayingTo, description:payDescription, amount:totalAmount, pDate:paymentDate), payment)
           ;set(payDescription, '');set(totalAmount, 0.00);set(paymentDate, '')">
   
             <table  style="text-align:left;" border="1px" cellspacing="0" cellpadding="3">
               <tbody>
                 <tr>
                   <td>
                     <label for="pDate">Date of Payment:</label>
                   </td>
                   <td>
                     <input type="date" max="[$today]" name="pDate" property="paymentDate" required>
                   </td>
                 </tr>
                 <tr>
                   <td>
                     <label for="payer">Select Payer:</label>
                   </td>
                   <td>
                     <select property="payerName" name="payer" required>
                       <option value="[personA]">[personA]</option>
                       <option value="[personB]">[personB]</option>
                       <option value="[Joint]">[Joint]</option>
                     </select>
                   </td>
                 </tr>
                 <tr>
                   <td>
                     <label for="payingTo">Who is the payment to:</label>
                   </td>
                   <td>
                     <select name="payingTo" property="namePayingTo" required>
                       <option value="[Joint]">[Joint]</option>
                       <option value="[personA]">[personA]</option>
                       <option value="[personB]">[personB]</option>
                     </select>
                   </td>
                 </tr>
                 <tr>
   
                   <td>
                     <label for="amount">Enter Amount:</label>
                   </td>
                   <td>
                     $<input type="number" property="totalAmount" value="0.00" min="0.00" required>
                   </td>
                 </tr>
                 <tr>
   
                   <td>
                     <label for="description">Add description:</label>
                   </td>
                   <td>
   
                     <input type="text" placeholder="Add description" property="payDescription" name="description" required>
                   </td>
                 </tr>
                 <tr>
                   <td style="text-align:center;">
                     <input type="submit" value="Add Payment">
                   </td>
                 </tr>
   
               </tbody>
             </table>
           </form>
         </div>
   
       </div>
   
       <div hidden="[(personA='' or personA=null or personB='' or personB=null)]">
         <h3>Payments Made</h3>
         <div class="toolbar" style="text-align: left;">
           <button mv-action="delete( payment where $index!=0)">Clear All</button> |
           Filter Payers By:
           <select property="payerFilter" name="filterByPayer" id="">
             <option value="all">All</option>
             <option value="[personA]">[personA]</option>
             <option value="[personB]">[personB]</option>
             <option value="[Joint]">[Joint]</option>
           </select>
   
         </div>
         <table width="80%" style="text-align:center;" border="1px" cellspacing="0" cellpadding="3">
           <thead>
             <tr>
               <th>ID</th>
               <th>Date</th>
               <th>Payer</th>
               <th>Paid To</th>
               <th>Amount</th>
               <th>Description</th>
               <th>[personA] Owes</th>
               <th>[personB] Owes</th>
             </tr>
           </thead>
   
           <tbody>
             <tr property="payment" mv-multiple mv-if="$index!=0" hidden="[if(payerFilter!='all' and payer!=payerFilter)]" data-val="[$index]">
               <td>[$index]</td>
               <td><time property="pDate" datetime="2021-24-09"></time></td>
               <td property="payer"></td>
               <td property="payingTo"></td>
               <td>
                 $<span property="amount"></span>
               </td>
               <td property="description"></td>
               <td>$
                 <span property="personAOwes" mv-value="if(payer='default' or payingTo='default', 'no value', if((payer=personB and payingTo=personA), amount, if((payer=personB and payingTo=Joint) or (payer=Joint and payingTo=personA), amount/2, 0 )))">
                 </span>
               </td>
               <td>$
                 <span property="personBOwes" mv-value="if(payer='default' or payingTo='default', 'no value', if(payer=personA and payingTo=personB, amount, if((payer=personA and payingTo=Joint ) or (payer=Joint  and payingTo=personB), amount/2, 0)))">
                 </span>
               </td>
             </tr>
           </tbody>
         </table>
       </div>			
     </main>
   <!-- Delete this line when you write your actual UI -->
   {{ expenses.length }} expenses loaded.
 </div>
 
 <script src="index.js" type="module"></script>
 
 </body>
 </html>
 