<!--CMPS3141-HCI - AS3-23S1
Collaborators:
Date: Sept.22.23
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Expenses</title>
   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="https://get.mavo.io/mavo.css">
   <script src="https://get.mavo.io/mavo.js"></script>
 </head>
 <body style="background-color:powderblue;">
 
 <div id="app">
   <!-- Replace cmps3141-as3-css_app-23s1 below with your repo name (cmps3141-as3-css_app-23s1-yourusername) so you can save!  
   https://github.com/UB-CMPS3141/cmps3141-as3-css-app-23s1-CoderRyan13/blob/main/expenses/data.json 
   <ma-data v-model="expenses" src="https://github.com/UB-CMPS3141/cmps3141-as3-css_app-23s1-CoderRyan13/expenses/data.json"></ma-data> -->
 
   <!-- App YOUR UI here -->
		<h1 style="text-align: center; color: blue;">Couple Joint Expenses Calculator</h1>
		<div>
			Person's A name:
			<input type="text" v-model="personA">
		</div>
		<div>
			Person's B name:
			<input type="text" v-model="personB">
		</div>
	
		<table style="width: 50%;">
			<tr>
				<td>
					<table>
						<td><h2>{{personA}} Owes:</h2></td>
						<td></td>			
						<td><h2>${{(totalPersonAOwes-totalPersonBOwes).toFixed(2)}}</h2></td>
					</table>
				</td>

				<td>
					<table>
						<td><h2>{{personB}} Owes:</h2></td>		
						<td></td>		
						<td><h2>${{(totalPersonBOwes-totalPersonAOwes).toFixed(2)}}</h2></td>
					</table>
				</td>
			</tr>
		</table>

		<h3>Add Payment</h3>
		<p style="color: red;">{{errors}}</p>
		<form>
			<table class="formTable">
				<tr>
					<td>
						<label for="payer">Select Payer:</label>
					</td>
					<td>
						<select v-model="form.payer">
							<option :value=personA>{{personA}}</option>
							<option :value=personB>{{personB}}</option>
							<option value=Joint>{{joint}}</option> 
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="payingTo">Who is the Payment to:</label>
					</td>
					<td>
						<select v-model="form.payingTo">
							<option :value=personB>{{personB}}</option>
							<option value=Joint>{{joint}}</option> 
							<option :value=personA>{{personA}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="amount">Amount:</label>
					</td>
					<td>
						$<input type="number" min="0.00" v-model="form.amount" style="width: 80px;">
					</td>
				</tr>
				<tr>
					<td>
						<label for="description">Add Description:</label>
					</td>
					<td>
						<input type="text" v-model="form.description" placeholder="description">
					</td>
				</tr>
				<tr>
					<td>
						<label for="pDate">Date of Payment:</label>
					</td>
					<td>
						<input type="date" :max="new Date()" v-model="form.pDate">
					</td>
				</tr>
				<tr>
					<td>
						<button v-on:click.prevent="addPayment" class="paymentButton">Add Payment</button>
					</td>
				</tr>
			</table>
		</form>
	
		<h3>Payments Made</h3>
		<table class="paymentTable">
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Payer</th>
				<th>Paid To</th>
				<th>Amount</th>
				<th>Description</th>
				<th>{{personA}} Owes</th>
				<th>{{personB}} Owes</th>
			</tr>

			<tr v-for="(expense, index) in expenses":key="expense.id">
				<td>{{index+1}}</td>
				<td>{{expense.pDate}}</td>
				<td>{{expense.payer}}</td>
				<td>{{expense.payingTo}}</td>
				<td>${{expense.amount}}</td>
				<td>{{expense.description}}</td>
				<td>${{expense.personAOwes}}</td>
				<td>${{expense.personBOwes}}</td>
				<!-- <td><button v-on:click.prevent="deleteRow(index)">Delete</button></td> -->
			</tr>
		</table>

   <!-- Delete this line when you write your actual UI -->
   {{ expenses.length }} expenses loaded.
 </div>
 
 <script src="index.js" type="module"></script>
 
 </body>
 </html>
 