<!--CMPS3141-HCI - AS3-23S1
Collaborators:
Date: Sept.22.23
 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Expenses</title>
	<link rel="stylesheet" href="style.css">
</head>
<body style="background-color:powderblue;">

<div id="app">
	<!-- Replace cmps3141-as3-css_app-23s1 below with your repo name (cmps3141-as3-css_app-23s1-yourusername) so you can save!  
	https://github.com/UB-CMPS3141/cmps3141-as3-css-app-23s1-CoderRyan13/blob/main/expenses/data.json 
	<ma-data v-model="expenses" src="https://github.com/UB-CMPS3141/cmps3141-as3-css_app-23s1-CoderRyan13/expenses/data.json"></ma-data> -->

	<!-- App YOUR UI here -->
	<v-app data='{"name": "Neo"}'>
		<h1 style="text-align: center; color: blue;">Couple Joint Expenses Calculator</h1>
		<div>
			Person's A name:
			<label>Name: <input v-model="name" /></label>
		</div>
		<div>
			Person's B name:
			<input type="text" placeholder="Peter">
			<button class="js-personBButton">Add</button>
		</div>

		<table style="width: 50%;">
			<tr>
				<td>
					<h2>Ashley</h2>
					<table>
						<tr>
							<td><b><i>Total Owed to Peter</i></b></td>
							<td>$-185</td>
						</tr>
						<tr>
							<td>Total Payments to Peter</td>
							<td>$165</td>
						</tr>
						<tr>
							<td>Total Joint Payments to Peter</td>
							<td>$0</td>
						</tr>
						<tr>
							<td>Total Personal Payments</td>
							<td>$0</td>
						</tr>
						<tr>
							<td>Total Payments to Joint</td>
							<td>$300</td>
						</tr>
					</table>
				</td>
				
				<td>
					<h2>Peter</h2>
					<table>
						<tr>
							<td><b><i>Total Owed to Ashley</i></b></td>
							<td>$185</td>
						</tr>
						<tr>
							<td>Total Payments to Ashley</td>
							<td>$130</td>
						</tr>
						<tr>
							<td>Total Joint Payments to Ashley</td>
							<td>$0</td>
						</tr>
						<tr>
							<td>Total Personal Payments</td>
							<td>$0</td>
						</tr>
						<tr>
							<td>Total Payments to Joint</td>
							<td>$0</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<h3>Add Payment</h3>
		<form>
			<table>
				<tr>
					<td>
						<label for="payer">Select Payer:</label>
					</td>
					<td>
						<select name="payer" required>
							<option value="Ashley">Ashley</option>
							<option value="Peter">Peter</option>
							<option value="Joint">Joint</option> 
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="payingTo">Who is the Payment to:</label>
					</td>
					<td>
						<select name="payingTo" required>
							<option value="Peter">Peter</option>
							<option value="Joint">Joint</option> 
							<option value="Ashley">Ashley</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="amount">Amount:</label>
					</td>
					<td>
						$<input type="number" value="0.00" min="0.00" required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="description">Add Description:</label>
					</td>
					<td>
						<input type="text" placeholder="description" name="description" required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="pDate">Date of Payment:</label>
					</td>
					<td>
						<input type="date" max="" name="pDate" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Add Payment"> 
					</td>
				</tr>
			</table>
		</form>

		<h3>Payments Made</h3>
		<table style="width: 60%;">
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Payer</th>
				<th>Paid To</th>
				<th>Amount</th>
				<th>Description</th>
				<th>Ashley Owes</th>
				<th>Peter Owes</th>
			</tr>
			<tr>
				<td>1</td>
				<td>7 Aug 2023</td>
				<td>Ashley</td>
				<td>Peter</td>
				<td>$165</td>
				<td>Bike</td>
				<td>$0</td>
				<td>$165</td>
			</tr>
			<tr>
				<td>2</td>
				<td>11 Aug 2023</td>
				<td>Ashley</td>
				<td>Joint</td>
				<td>$300</td>
				<td>Rent</td>
				<td>$0</td>
				<td>$150</td>
			</tr>
			<tr>
				<td>3</td>
				<td>12 Aug 2023</td>
				<td>Peter</td>
				<td>Ashley</td>
				<td>$130</td>
				<td>Nails</td>
				<td>$130</td>
				<td>$0</td>
			</tr>
		</table>
	</v-app>
	<!-- Delete this line when you write your actual UI -->
	{{ expenses.length }} expenses loaded.
</div>

<script src="index.js" type="module"></script>
<script src="https://mavue.mavo.io/set-data/set-data.js" type="module"></script>

</body>
</html>
