/*
CMPS3141-HCI - AS3-23S1
Collaborators:
Date: Sept.22.23
*/
button {
  cursor: pointer;
}

.formTable {
  padding: 5px;
  border-spacing: 5px 5px;
  width: 370px;
  border: 10px black ridge;
}

.paymentTable th, 
.paymentTable td,
.paymentTable {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 3px 3px;
  width: 850px;
  padding: 5px;
}

.paymentButton {
  background-color: rgb(65, 212, 65);
  border: none;
  color: white;
  width: 150px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
}

.visual {
  font-size: 22px;
  font-family: serif;
  border: 7px white outset;
  margin-right: 10px;
}

